@use "../../assets/sass/_variables.scss" as *;

.beer-card{
    width: 17rem;
    height: 27rem;
    margin: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: aqua;
    text-overflow: clip;

    & * {
        padding: 0.5rem;
        width: 100%;
    }

    &__scroll-section{
        overflow-y: scroll;
    }

    &__name{
        background-color: darkblue;
    }

    // &__tagline{

    // }

    &__img{
        height: 50%;
        width: auto;
    }

    &__content{
        &--food-pairings{
            text-align: left;

            p{
                font-weight: 600;
                line-height: 0.0625rem;
            }
        }
    }

}