@use "../../assets/sass/_variables.scss" as *;

.sort-box {
    & * {
        font-family: $font-body;
    }

    &__list {
        margin: 0 0.5rem 0 0.5rem;
        padding: 0.25rem;
        width: 10rem;

        border: 0.125rem $colour-card solid;
        text-align: center;
        color: $colour-black;

        &:focus {
            border: 0.125rem $colour-card-top solid;
            outline: 0.125rem $colour-card-top solid;
        }
    }
}