@use "./assets/sass/_variables.scss" as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: 
    "head head"
    "navi cards"
  ;

  font-family: $font-body;
  text-align: center;
  color: $colour-black;

  .header-section{
    grid-area: head;
    z-index: 1;
  }

  .nav-section{
    grid-area: navi;
    z-index: 2;
  }

  .cards-section{
    grid-area: cards;
    background-image: url("./assets/images/ice-cubes.jpg");
  }
}

