@use "../../assets/sass/_variables.scss" as *;

.nav-section{
    height: 100%;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color:$colour-nav;
    color: $colour-white;

    line-height: 200%;

    h2{
        margin-bottom: 1.25rem;
    }

    .filter-list{
        & *{
            display: flex;
            justify-content: space-between;
        }
    }
}