@use "../../assets/sass/_variables.scss" as *;

.nav-section{
    height: 100%;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color:$colour-nav;
    color: $colour-white;

    line-height: 200%;

    h2{
        margin-bottom: 0.5rem;
    }

    .filter-list{
        & *{
            display: flex;
            justify-content: space-between;
        }
    }

    .sort-list{
        margin: 1.4rem;
        
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .page{
        display: grid;
        grid-template-columns: repeat(3, 3rem);
        justify-items: center;
        align-items: center;
        
        & * {
            margin: 0.25rem 0rem;
        }

        &__button{
            background: none;
            border: none;

            color: $colour-white;
            cursor: pointer;
        }

        &__number{
            font-size: 1.25rem;
        }
    }
}