@use "../../assets/sass/_variables.scss" as *;

.nav-section{
    min-height: 87.5vh;
    height: 100%;
    padding: 1rem;

    background-color:$colour-nav;
    color: $colour-white;

    line-height: 200%;
}