@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-title: "Barlow Condensed", Arial, Helvetica, sans-serif;
$font-body: "Barlow", Arial, Helvetica, sans-serif;

$colour-header: bisque;
$colour-nav: rgb(205, 92, 92);
$colour-main: red;

$colour-black: rgb(30, 30, 30);